<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683203414288-fdtkkptctjd6cjeqbkasu36bjpjtbboa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683203414288-fdtkkptctjd6cjeqbkasu36bjpjtbboa</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Gr6_Ig6Da8Q2JIrBfXGk_baZuHJD2GU</string>
	<key>GCM_SENDER_ID</key>
	<string>683203414288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.Luiza.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-fa6e6</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-fa6e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683203414288:ios:d8a12a2bcf6364d429fd95</string>
</dict>
</plist>